html, body {
    height: 100%;
    color: #221618;
    font-size: 16px;
}

body {
    font-family: 'Merriweather', serif;
    font-size: 1.9rem;
}

h1 {
    font-family: 'Raleway',  sans-serif;
    font-size: 8.5rem;
    letter-spacing: -4px;
    text-transform: uppercase;
}

.entry-title {
    font-size: 6rem;
    text-align: left;
    padding-bottom: 4rem;
}

.lead {
    text-align: center;
    font-size: 3rem;
}

.lead a {
    color: #aaa;
    border: 3px solid #aaa;
    border-radius: 5px;
    padding: 7px 14px;
    margin: 5px;
    display: inline-block;
}

.lead a:hover, .lead a:focus {
    color: #2ccbf3;
    text-decoration: none;
    border-color: #2ccbf3;
}

p {
    font-weight: 300;
    text-align: justify;
    line-height: 1.7;
    margin: 6rem 0;
}

.font-100 {
    font-weight: 100;
}

.font-400 {
    font-weight: 400;
}

.font-700 {
    font-weight: 700;
}

.font-900 {
    font-weight: 900;
}

.tooltip {
    font-weight: 400;
    font-size: 1rem;
}

/* Custom container */
.container-full {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    background-color: #fefefe;
    overflow: hidden;
}

.social-link {
    position: relative;
    margin: 5px;
    text-decoration: none;
    font-size: 38px;
    width: 68px;
    height: 68px;
    padding-top: 8px;
    display: inline-block;
    -moz-border-radius: 68px;
    -webkit-border-radius: 68px;
    border-radius: 68px;
    border: 4px solid #2ccbf3;
    text-align: center;
    background: #2ccbf3;
    color: #fefefe;
}

.social-link:hover, .social-link:focus {
    background: #fefefe;
    color: #2ccbf3;
}

i {
    position: absolute;
}

.fa-google-plus {
    top: 15px;
    left: 15px;
}

.fa-facebook {
    top: 13px;
    left: 18px;
}

.fa-linkedin {
    top: 11px;
    left: 15px;
}

.fa-github {
    top: 12px;
    left: 14px;
}

.fa-stack-overflow {
    top: 11px;
    left: 14px;
}

.v-center {
    margin-top: 7%;
}

/* NAVBAR */

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    background-color: #fdfdfd;
    font-weight: 900;
    font-size: 1.2rem;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #2ccbf3;
}

.navbar-custom .nav li.active {
    outline: none;
    background-color: rgba(255, 255, 255, .3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255, 255, 255, .3);
}

@media (min-width: 767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #2ccbf3;
    }

    .top-nav-collapse a {
        color: #fefefe;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
}